/* Body and font settings */
body {
  font-family: Arial, sans-serif;
  /* background-color: #3c2f4b; */
  background-image: url(../city.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
  z-index: -1;
}

.hidden {
  display: none !important;
}
