<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rAIve</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Let's get rAIving</h1>  
    </main>
    <!-- add a text box and a button that will send the content of the text box to a python api-->
    <div class="container">
      <input type="text" id="input" placeholder="Enter your text here">
      <button id="submit" onclick="handleInput()">Submit</button>
    </div>
    <div class="container">
      <p id="output"></p>
    </div>
<script>
  async function handleInput() {
    const input = document.getElementById('input').value;
      const response = await fetch('/api/engine', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({prompt: input})
      });
      const data = await response.json();
        document.getElementById('output').innerText = data.response;
    }
</script>
  </body>
</html>
