<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>rAIve</title>
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.min.js"></script>
</head>

<body>
  <!-- Header Section -->
  <header>
    <div class="header-left">
      <a href="https://github.com/bhavyakasera1/rAIve">
        <img class="logo" src="static/images/rAIveLogo.png" alt="rAIve Logo">
      </a>
    </div>
    <div class="header-title">rAIve</div>
    <div class="header-right"></div>
  </header>

  <!-- Main Content -->
  <main>
    <div class="vis-wrapper">
      <div id="vis-container" style="width: 700px; height: 100px;"></div>
      <div class="controls-container">
        <button id="playButton" class="control-button">▶</button>
        <button id="pauseButton" class="control-button">⏸</button>
      </div>
    </div>
    <script src="static/strudel/index.js"></script>
    <div class="editor-container">
      <strudel-editor id="repl"></strudel-editor>
    </div>

    <!-- Prompt / Input Area -->
    <form class="input-prompt" onsubmit="handleInput(event)">
      <div class="input-wrapper">
        <input type="text" id="input" placeholder="Enter your text here" maxlength="100" required>
        <span class="char-counter" id="counter">0/100</span>
      </div>
    </form>

    <div class="spinner-box hidden" id="spinner-box">
      <div class="spinner"></div>
    </div>
  </main>

  <script src="static/js/main.js"></script>
</body>

</html>
